html
  head
    title Starter
    meta(charset='UTF-8')
    meta(name='description', content='description')
    meta(name='keywords', content='kayword, keyword')
    meta(name='author', content='Name Name')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
